{% extends 'index.html' %}

{% block content %}
<h1 class="mt-4">About</h1>
    <p>About</p>

    <p>JPEG lossy (or lossless) images - checked before image upload<br>
    Secure Hash Algorithm (SHA) used must be SHA-256 or higher - ipfs algorithm<br>
    Minimum 256-bits key length - ipfs algorithm<br>
    Security & Privacy Requirements of EHR Systems for Use in Conformity Assessment - ipfs hash is stored in blockchain as a transaction<br>
    Electronic Document File Format for Long-Term Preservation - the hash is never deleted from the blockchain<br>
    </p>
{% endblock %}